.gradient-wave {
    background: linear-gradient(270deg,
        #09dddd,
        #00a0ff,
        #c50cfb,
        #c50cfb,
        #00a0ff,
        #09dddd
    );
    background-size: 600% 600%;
    animation: wave 5s ease-in-out infinite;
    filter: glow(50%);
}

@keyframes wave {
    0% {
        background-position-x: 120%;
    }
    100% {
        background-position-x: 0;
    }
}

.color-shadow {
    animation: colorShadow 5s ease-in-out forwards infinite;
}

@keyframes colorShadow {
    0% {
        box-shadow: .3rem .1rem 1rem #00a0ff90
    }
    50% {
        box-shadow: .3rem .1rem 1rem #c50cfb90
    }
    100% {
        box-shadow: .3rem .1rem 1rem #ffdd0090
    }
}

.throb {
    animation: throb 1.5s ease-in-out forwards infinite;
}

@keyframes throb {
    0% {
        opacity: 1;
        box-shadow: .3rem .1rem 1rem #00a0ff90
    }
    25% {
        opacity: .7;
        box-shadow: .3rem .1rem 1rem #c50cfb90
    }
    75% {
        opacity: 1;
        box-shadow: .3rem .1rem 1rem #ffdd0090
    }
    100% {
        opacity: 1;
        box-shadow: .3rem .1rem 1rem #00a0ff90
    }
}

.shine:hover {
    animation: shine .5s ease-in-out forwards;
}

@media (prefers-color-scheme: dark) {
    .shine:hover {
        animation: shineDark .5s ease-in-out forwards !important;
    }
}

@keyframes shine {
    0% {
        filter: contrast(100%);
    }
    50% {
        filter: contrast(150%);
    }
    100% {
        filter: contrast(100%);
    }
}

@keyframes shineDark {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(120%);
    }
    100% {
        filter: brightness(100%);
    }
}

.shake {
    animation: shake forwards cubic-bezier(.11, .63, .82, .7);
}

.fade-in {
    animation: fade-in forwards ease-in .3s;
}

.fade-out {
    animation: fadeOut forwards ease-in .3s;
}

.appear {
    animation: appear forwards ease-in .3s;
}

.disappear {
    animation: disappar forwards ease-out .3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        filter: blur(.3rem);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(.3rem);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        transform: translateX(3%);
    }
    50% {
        transform: translateX(-3%);
    }
    75% {
        transform: translateX(3%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes slam {
    0% {
        opacity: 0;
        transform: scale(0.1) translateY(200%);
    }
    50% {
        transform: scale(0.5) translateY(-200%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.raises {
    display: inline-block;
    padding: .3rem .5rem 0 .5rem;

    &:not(.surface) {
        background-color: transparent;
        border: .1rem solid transparent;
    }

    @extend .transition-in;

    &:hover {
        @extend .surface;
    }

    &:active {
        @extend .embossed;
    }
}
