.fixed-center {
    position: fixed;
    inset: 0;
    text-align: center;
    display: flex;
    place-content: center;
    place-items: center;
}

.flex-center {
    display: flex;
    place-content: center;
    place-items: center;
}

.scrollable {
    overflow-x: auto;
    overflow-y: auto;
}

.scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollable-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.shadow {
    box-shadow: var(--shadow);
}

.embossed {
    box-shadow: var(--inset-shadow);
    @extend .transition-in;
}

.margin {
    margin: .5rem;
}

.m-1 {
    margin: 1rem;
}

.padded {
    padding: .5rem
}

.p-1 {
    padding: 1rem;
}

.rounded {
    border-radius: var(--rounded-radius);
}

.circle {
    border-radius: 50%;
}

.transition-in {
    transition: .3s all ease-in;
}

.transition-out {
    transition: .3s all ease-in-out;
}

.transition-in-long {
    transition: .5s all ease-in;
}
